.registerform {
  display: flex;
  flex-direction: column;
  height: 373px;
  background-color: #fefefe;
  margin: 3% 38% 0% 38%;
  border-radius: 12px;
  border-bottom: 3px solid gray;
  border: 1px solid gray;
  border-bottom: 2px solid #393939;
}

.registeruserInputs {
  display: flex;
  height: 68%;
  margin-top: 2px;
  padding: 9px;
  flex-direction: column;
  justify-content: space-around;
}

.registeruserInputs input {
  width: 99%;
  height: 40px;
  background-color: white;
  border-bottom: 2px solid gray;
}

.registerBtn {
  color: white;
  margin: -1% 20% 5% 20%;
  height: 44px;
  border-radius: 10px;
  background-image: linear-gradient(179deg, #3cfe25 0%, #2be64b 100%);
  cursor: pointer;
  border-bottom: 2px solid #504f4f;
}

.registerBtn input {
  font-size: 21px;
  align-items: center;
  background: none;
  color: white;
  margin-top: 7px;
}
