.completed-container {
  display: flex;
  width: 72vw;
  height: 148px;
  background-color: #dedede;
  flex-direction: row;
  margin: 10% 0% -6% 14%;
  justify-content: space-around;
}

.completed-img {
  margin-right: 23px;
  margin-left: 23px;
  height: 100%;
  width: 17%;
}

.completed-img img {
  margin-top: 3px;
  height: 100%;
  width: 100%;
}

.completed-img div {
  display: flex;
}

.completed-titles {
  text-align: left;
  margin-right: 369px;
  margin-top: 13px;
}

.completed-btn {
  cursor: pointer;
  margin-top: 33px;
}
