.book-container {
  margin-top: 25px;
  margin-left: 135px;
  margin-bottom: 23px;
  background-color: #f5f5f5;
  width: 78vw;
  height: 193px;
  display: flex;
  justify-content: space-between;
  border-bottom-right-radius: 12px;
  box-shadow: 3px 5px 11px grey;
  border: 1px solid gray;
}

.book-image {
  width: 162px;
  height: 100%;
}

.book-image img {
  width: 100%;
  height: 100%;
}

.book-details {
  margin: 14px 0px 10px 10px;
  display: flex;
  width: 58%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}

.book-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-description {
  width: 84%;
  text-align: left;
}
.book-description p {
  margin-top: 5%;
  font-size: 14px;
  font-family: inherit;
}

.book-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 23px;
  margin-right: 12px;
}

.book-button button {
  cursor: pointer;
}

.search-form {
  margin-top: 70px;
}

.search-form input[type="text"] {
  border: 2px solid #7f7f7f;
  border-radius: 5px;
  height: 27px;
  width: 34%;
  margin-right: 23px;
}

.search-form input[type="submit"] {
  border: 2px solid #737373;
  border-radius: 5px;
  height: 29px;
  width: 8%;
  cursor: pointer;
}
